.friendlistitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    width: 140px;
    height: 240px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 2px solid black;
    border-color: black;
    box-shadow: 2px 3px 14px 2px rgba(0, 0, 0, 0.41);
    overflow: hidden;

    :not(:last-child) {
        margin-bottom: 10px;
    }
}

.friendname {
    color: rgb(65, 65, 65);
    font-size: 32px;
    font-weight: 700;
}

.status {
    font-size: 24px;
    font-weight: 500;
}

.online {
    color: green;
}

.offline {
    color: red;
}